section.main-catalog
    .container
        .main-catalog__heading
            .icon: +icons('#ic_cat', 40)
            .section-h2 Каталог оборудования
        .main-catalog__content
            .main-catalog__badge По типу
            ul.main-catalog__items
                li.main-catalog__item
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-7.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-7.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Электроинструменты
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Отбойные молотки
                        li: a(href="catalog-subcategory.html") Перфораторы
                        li: a(href="catalog-subcategory.html") Ножницы по металлу
                        li: a(href="catalog-subcategory.html") Штроборезы
                        li: a(href="catalog-subcategory.html") Монтажные пилы
                        li.hidden: a(href="#") Монтажные пилы
                li.main-catalog__item
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Оборудование для работ с бетоном
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Виброрейка
                        li: a(href="catalog-subcategory.html") Бетономешалка
                        li: a(href="catalog-subcategory.html") Глубинный вибратор
                        li: a(href="catalog-subcategory.html") Миксер
                        li: a(href="catalog-subcategory.html") Инструмент для гибки арматуры (Армогибы)
                li.main-catalog__item
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-1.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-1.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Компрессоры и насосы
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Дизельные компрессоры
                        li: a(href="catalog-subcategory.html") Электрические компрессоры
                        li: a(href="catalog-subcategory.html") Мотопомпы
                        li: a(href="catalog-subcategory.html") Погружные насосы
                li.main-catalog__item
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-2.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-2.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Электростанции
                        ul.main-catalog__submenu
                            li: a(href="catalog-subcategory.html") Дизельные электростанции
                            li: a(href="catalog-subcategory.html") Бензиновые электростанции
                li.main-catalog__item.hidden
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-6.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-6.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Электроинструменты
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Отбойные молотки
                        li: a(href="catalog-subcategory.html") Перфораторы
                        li: a(href="catalog-subcategory.html") Ножницы по металлу
                        li: a(href="catalog-subcategory.html") Штроборезы
                        li: a(href="catalog-subcategory.html") Монтажные пилы
                li.main-catalog__item.hidden
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-5.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-5.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Оборудование для работ с бетоном
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Виброрейка
                        li: a(href="catalog-subcategory.html") Бетономешалка
                        li: a(href="catalog-subcategory.html") Глубинный вибратор
                        li: a(href="catalog-subcategory.html") Миксер
                        li: a(href="catalog-subcategory.html") Инструмент для гибки арматуры (Армогибы)
                li.main-catalog__item.hidden
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-4.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-4.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Компрессоры и насосы
                    ul.main-catalog__submenu
                        li: a(href="catalog-subcategory.html") Дизельные компрессоры
                        li: a(href="catalog-subcategory.html") Электрические компрессоры
                        li: a(href="catalog-subcategory.html") Мотопомпы
                        li: a(href="catalog-subcategory.html") Погружные насосы
                li.main-catalog__item.hidden
                    .main-catalog__image
                        picture
                            source(srcset="img/common/img_01-3.webp" type="image/webp")
                            img.lazyload(data-src="img/common/img_01-3.jpg" loading="lazy")
                    a(href="catalog-category.html").main-catalog__title Электростанции
                        ul.main-catalog__submenu
                            li: a(href="catalog-subcategory.html") Дизельные электростанции
                            li: a(href="catalog-subcategory.html") Бензиновые электростанции
            button.main-catalog__all(data-title-expand="Весь каталог" data-title-hide="Скрыть")
                span Весь каталог
                svg(width='20' height='20')
                    use(xlink:href='/img/sprites/sprite.svg#ic_chevron-down')