.main-conditions {
  background: #fff;
  padding: 0 0 60px;

  @media screen and (min-width: 1024px) {
    padding: 0 0 100px;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .section-h2 {
      margin-bottom: 0;
    }

    .icon {
      margin-right: 16px;
      height: 40px;
      width: 40px;
    }

  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    counter-reset: items;
  }

  &__item{
    width: calc(100% - 16px);
    margin: 8px;
    padding: 36px 24px;
    border: 2px solid #E6E6E6;
    display: flex;
    align-items: center;
    position: relative;


    &::before{
      position: absolute;
      top: -2px;
      left: -2px;
      counter-increment: items;
      content: counter(items);
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      min-height: 28px;
      min-width: 28px;
      text-align: center;
      background: #F5890A;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon{
      flex-shrink: 0;
      margin-right: 16px;
    }

  }

  &__form{
    margin-top: 8px;
    padding: 24px;
    border: 2px solid #E6E6E6;

    .form__image{
      display: none;
    }

    .form__title{
      .icon{
        display: none;
      }
    }

    .form__desc{
      color: #888888;
      margin-bottom: 24px;
    }

    .form__fields{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;
      align-items: center;
    }

    .form__field,
    .form__agreement,
    .form__submit{
      margin-right: 12px;
      margin-left: 12px;
      flex-basis: 256px;
      flex-grow: 1;
    }

  }


  @media screen and (min-width: 768px) {

    &__items{
      margin: 0 -12px;
    }

    &__item{
      width: calc(50% - 24px);
      margin: 12px;
    }

  }


  @media screen and (min-width: 1024px) {

    &__form{
      margin-top: 12px;
      display: flex;
      align-items: center;

      .form__image{
        display: block;
        width: 426px / (1224px - 48px) * 100%;
        margin-right: auto;
        align-self: flex-end;
        margin-bottom: -24px;
      }

      .form__content{
        width: 724px / (1224px - 48px) * 100%;
        padding: 40px 0 40px;
        margin-left: -32px;
        max-width: 724px;
        margin-right: auto;
      }

    }

    &__items{
    }

    &__item{
      flex-wrap: wrap;
      padding: 44px;

      &::before{
        min-width: 36px;
        min-height: 36px;
      }

      .caption{
        padding-top: 16px;
        width: 100%;
        font-size: 18px;
        line-height: 28px;
      }

    }

  }


}