$btnPrimary: #448aff;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: all 0.25s ease;

  &_primary{
    background: #F5890A;
    text-transform: uppercase;
    color: #fff;

    &:hover{
      background: #CC6E00;
    }

  }

  &_secondary{
    background: #fff;
    border: 2px solid #F5890A;
    text-transform: uppercase;

    span{
      padding-left: 12px;
    }

    &:hover{
      background: #F5890A;
      color: #fff;
      transition: all 0.25s ease;

      svg{
        path{
          stroke: #fff;
        }
      }

    }

  }
  
  &:disabled{
    opacity: 0.7;
    cursor: not-allowed;
  }

  &_loading {
    cursor: wait;

    &::after {
      content: '';
      width: 12px;
      min-width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-radius: 50%;
      border-left-color: transparent !important;
      margin-left: 10px;
      -webkit-transition: -webkit-transform .5s linear;
      transition: transform .5s linear;
      -o-transition: transform .5s linear;
      transition: transform .5s linear, -webkit-transform .5s linear;
      -webkit-animation: .5s linear infinite loadingrotate;
      animation: .5s linear infinite loadingrotate;
      display: inline-block;

    }
  }

  &_success::after {
    content: '';
    width: 15px;
    min-width: 14px;
    height: 9px;
    border: 2px solid #fff;
    -webkit-animation: none;
    animation: none;
    min-width: 12px;
    display: inline-block;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg) translateX(4px);
    -ms-transform: rotate(-45deg) translateX(4px);
    transform: rotate(-45deg) translateX(4px);
    margin-left: 10px;
    position: relative;
    left: 5px;
  }

  &_disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }

}

@-webkit-keyframes loadingrotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes loadingrotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}