$font-size: 16px;
$line-height: 24px;
$defaultPadding: 16px;
$paddingWithIcon: 16px 16px 16px 40px;
$invalid: red;
$inputHeight: 56px;
$iconDimensions: 24px;
$border: #F5890A;

input:not([type=checkbox]):not([type=radio]),
textarea {
  outline: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]){
  height: 56px;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  transition: all 0.25s ease;
  border: none;
  width: 100%;
  outline: none;
  padding: $defaultPadding;
  font-size: $font-size;
  line-height: $line-height;
  color: #000;
  background-color: #F0F0F0;
  border: 2px solid transparent;

  &:focus{
    border: 2px solid #F5890A;
  }

  &::placeholder {
    color: #888888;
  }
}

.input,
.select,
.textarea {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  &_icon__wrap {
    position: relative;

    .icon {
      position: absolute;
      top: 15px;
      left: 10px;
      display: flex;
      align-items: center;
      width: $iconDimensions;
      height: $iconDimensions;
    }

    input:not([type=checkbox]):not([type=radio]),
    textarea {
      width: 100%;
      padding: $paddingWithIcon !important;
    }
  }
}

.input-number{
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &__dec,
  &__inc{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  input{
    text-align: center;
  }

  &__dec{
    background: #E6E6E6;
    transition: all 0.25s ease;

    &:hover{
      background: #f0f0f0;
    }

  }

  &__dec + input{
    pointer-events: none;
    user-select: none;
  }

  &__inc{
    background: #FFFFFF;
    border: 2px solid #F5890A;

    transition: all 0.25s ease;

    &:hover{
      background: #F5890A;

      svg path{
        stroke: #fff;
      }

    }

  }

}

.select {

  &__hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }

  .af-select {
    cursor: pointer;
    display: inline-block;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
    width: 100% !important;
    position: relative;
  }

  &__styled, select {
    transition: all 0.25s ease;
    border: 1px solid $border;
    width: 100%;
    outline: none;
    padding: $defaultPadding;
    font-size: $font-size;
    line-height: $line-height;
    color: #000;
    background-color: #fff;
    height: $inputHeight;
  }

  &__styled {
    position: relative;

    &_icon {
      padding: $paddingWithIcon;
      position: relative;

      .icon {
        position: absolute;
        top: 15px;
        left: 10px;
        display: flex;
        align-items: center;
        width: $iconDimensions;
        height: $iconDimensions;

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    span {
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000;
    }

    &_active::after {
      -webkit-transform: translateY(-50%) scaleY(-1);
      -ms-transform: translateY(-50%) scaleY(-1);
      transform: translateY(-50%) scaleY(-1)
    }

    &::after {
      content: "";
      width: 24px;
      min-width: 24px;
      height: 24px;
      background-image: url(../img/svg/ic_expand.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      -webkit-transition: -webkit-transform .3s;
      transition: transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
    }

  }

  &__options {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    right: auto;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: $inputHeight * 5;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, .25);
    box-shadow: 0 0 9px rgba(0, 0, 0, .25);
    color: #000;
    width: 100%;

    &_active {
      display: block;
    }

    li {
      margin: 0;
      padding: $defaultPadding;
      -webkit-transition: .15s ease-in;
      -o-transition: .15s ease-in;
      transition: .15s ease-in;
      font-size: $font-size;
      line-height: $line-height;
      height: $inputHeight;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000;
      text-align: left;
    }

    li:hover,
    li.active {
      background: $border;
      color: #fff
    }

    li[rel=hide] {
      display: none
    }

  }
}

.form {
  &__field {
    margin-bottom: 16px;
  }
  &__submit{
    margin-bottom: 16px;
    .btn{
      width: 100%;
      height: 56px;
    }
  }
}