.advantages-block
    .container
        .advantages-block__items
            .advantages-block__item
                .icon: img.lazyload(loading="lazy" data-src="/img/card/ad-1.svg" width=64 height=64)
                .caption Более 200 единиц оборудования
            .advantages-block__item
                .icon: img.lazyload(loading="lazy" data-src="/img/card/ad-2.svg" width=64 height=64)
                .caption Доставка за 60 минут
            .advantages-block__item
                .icon: img.lazyload(loading="lazy" data-src="/img/card/ad-3.svg" width=64 height=64)
                .caption Минимальный залог
            .advantages-block__item
                .icon: img.lazyload(loading="lazy" data-src="/img/card/ad-4.svg" width=64 height=64)
                .caption Скидки за аренду