extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/components/card/card

block variables
    - const title = "Отложенные"

block styles
    link(rel="stylesheet" href="styles/favorites.css")

block content

    .page-breadcrumbs
        .container
            +breadcrumb([
                {
                    link: "/",
                    text: "Главная"
                },
                {
                    link: "/favorites.html",
                    text: "Отложенные",
                    isActive: true,
                }
            ])


    .page-title
        .container
            h1.section-h1.page-title__heading Отложенные товары

    section.favorites
        .container
            .favorites-products
                -
                    var list = [
                        {
                            image: "/img/catalog/cat-1",
                            name: "Дизельный компрессор Atlas Copco XAS 186",
                            features: [
                                "Мощность – 86 кВт",
                                "Производительность – 11,1 м3/мин",
                                "Вес с шасси – 1900 кг",
                            ],
                            price: "6000 ₽/сутки",
                            priceNumber: "6000",
                        },
                        {
                            image: "/img/catalog/cat-3",
                            name: "Компрессор Wester W 024-180 OLC",
                            features: [
                                "Вес – 24 кг ",
                                "Мощность – 1800 Вт ",
                                "Напряжение – 220 В",
                            ],
                            price: "от 1300 ₽/сутки",
                            priceNumber: "1300",
                        },
                        {
                            image: "/img/catalog/cat-34",
                            name: "Компрессор Ergus DV 370-50",
                            features: [
                                "Мощность – 86 кВт",
                                "Производительность – 11,1 м3/мин",
                                "Число оборотов – 460 об/мин",
                            ],
                            price: "6000 ₽/сутки",
                            priceNumber: "6000",
                        },
                        {
                            image: "/img/catalog/cat-6",
                            name: "Компрессор поршневой REMEZA СБ4/Ф-270 LB50",
                            features: [
                                "Вес – 82 кг ",
                                "Мощность – 2200 Вт ",
                                "Число оборотов – 460 об/мин",
                            ],
                            price: "от 1300 ₽/сутки",
                            priceNumber: "1300",
                        },
                        {
                            image: "/img/catalog/cat-7",
                            name: "Мотопомпа Wacker Neuson MDP-3",
                            features: [
                                "Мощность – 86 кВт",
                                "Производительность – 11,1 м3/мин",
                                "Вес с шасси – 1900 кг",
                            ],
                            price: "6000 ₽/сутки",
                            priceNumber: "6000",
                        },
                        {
                            image: "/img/catalog/cat-8",
                            name: "Мотопомпа Koshin KTH-50X",
                            features: [
                                "Мощность – 36 кВт",
                                "Производительность – 5,3 м3/мин",
                                "Вес с шасси – 885 кг",
                            ],
                            price: "4000 ₽/сутки",
                            priceNumber: "4000",
                        },
                        {
                            image: "/img/catalog/cat-9",
                            name: "Мотопомпа Champion GTP80",
                            features: [
                                "Вес – 24 кг ",
                                "Мощность – 1800 Вт ",
                                "Напряжение – 220 В",
                            ],
                            price: "от 1300 ₽/сутки",
                            priceNumber: "1300",
                        },
                        {
                            image: "/img/catalog/cat-10",
                            name: "Мотопомпа Makita EW1050HX",
                            features: [
                                "Мощность – 86 кВт",
                                "Производительность – 11,1 м3/мин",
                                "Число оборотов – 460 об/мин",
                            ],
                            price: "6000 ₽/сутки",
                            priceNumber: "6000",
                        },
                        {
                            image: "/img/catalog/cat-13",
                            name: "Компрессор поршневой REMEZA СБ4/Ф-270 LB50",
                            features: [
                                "Вес – 82 кг ",
                                "Мощность – 2200 Вт ",
                                "Число оборотов – 460 об/мин",
                            ],
                            price: "от 1300 ₽/сутки",
                            priceNumber: "1300",
                        },

                    ]

                each item in list
                    +card(item)


block scripts
    script(src="js/main.js")