extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/components/card/card

block variables
    - const title = "Условия работы"

block styles
    link(rel="stylesheet" href="styles/text-page.css")

block content

    .page-breadcrumbs
        .container
            +breadcrumb([
                {
                    link: "/",
                    text: "Главная"
                },
                {
                    link: "/work.html",
                    text: "Условия работы",
                    isActive: true,
                }
            ])


    .page-title
        .container
            h1.section-h1.page-title__heading Условия работы


    section.textpage
        .container
            .textpage-sidebar
                ul.textpage-sidebar__nav
                    li: a(href="contacts.html") Контакты
                    li: a(href="work.html") Условия работы
                    li: a(href="delivery.html") Доставка и оплата
            .textpage-content.edit-content
                p.
                    <strong>Насосы и мотопомпы предназначены для перекачки жидкостей разной степени плотности. Представляют собой конструкцию, состоящую из насоса и дизельного, бензинового или электрического мотора. Работы с их использованием часто носят сезонный или разовый характер: откачка ям, осушение водоемов, подвальных помещений, карьеров и строительных площадок, перекачка жидких субстанций. Покупать оборудование ради нескольких дней использования не выгодно. В таком случае будет полезна аренда насоса.</strong>
                br
                h2 H2: Условия работы
                p.
                    Решение различных задач требует применения насосов с разными техническими параметрами. Прежде чем взять в прокат мотопомпу, стоит в полном объеме представлять все нюансы предстоящей работы: доступность жидкости, объем, степень загрязнения, температуру. Так, в зависимости от способа погружения, дренажные насосы бывают:
                ul
                    li Погружные, которые во время работы должны полностью находиться под поверхностью жидкости. Такие мотопомпы способны производить откачку с глубины до 9 метров, при температуре не выше 40 градусов.
                    li Наружные — могут быть мембранными и центробежными. Аренда этих насосов оправдана в случае, если невозможен прямой доступ к воде, например, при осушении подвалов или откачке сточных вод.
                    li Полупогружные помпы полезны при перекачке жидкостей, имеющих температуру выше 80 градусов. Во время работы мотор насоса остается над поверхностью, что предохраняет его от перегрева.
                br
                h3 H3: Оплата
                p.
                    Подлежащие перекачке субстанции могут иметь разную плотность, кислотность и степень загрязненности, включения в виде песка и камней. Для того чтобы не повредить мотопомпу во время эксплуатации и достичь запланированного результата, стоит выбрать для проката оптимально подходящую модель:
                ol
                    li Для чистой воды предназначены насосы с мелкоячеистым фильтром, который может быть поврежден даже мелким мусором.
                    li Для слабозагрязненной воды, например пожарные помпы. Способны качать воду из колодцев и относительно чистых водоемов.
                    li Для грязной воды и непосредственно грязи. Наиболее мощная и габаритная техника. Ее берут в аренду для откачки септиков, осушения водоемов и строительных объектов.
                p.
                    Арендовать нужную технику с подходящими техническими характеристиками возможно у нас в Санкт-Петербурге. Оборудование находится в рабочем состоянии, исправно и безопасно.
                br
                h3 H3: Пример таблицы
                .table.table_responsive
                    table
                        thead
                            tr
                                th Для граждан России
                                th Для иностранных граждан
                                th Для юридического лица
                        tbody
                            tr
                                td(data-title="Для граждан России") Общегражданский паспорт
                                td(data-title="Для иностранных граждан") Национальный паспорт
                                td(data-title="Для юридического лица") Полные реквизиты компании
                            tr
                                td(data-title="Для граждан России") Второй документ
                                td(data-title="Для иностранных граждан") Регистрация в Санкт-Петербурге или ЛО
                                td(data-title="Для юридического лица") -
                            tr
                                td(data-title="Для граждан России") Наличными в офисе
                                td(data-title="Для иностранных граждан") Наличными в офисе
                                td(data-title="Для юридического лица") -
                            tr
                                td(data-title="Для граждан России") Банковская карта
                                td(data-title="Для иностранных граждан") Банковская карта
                                td(data-title="Для юридического лица") Безналичный расчет
                br
                h3 H3: Цитата
                blockquote
                    p «Наш прокат» зарекомендовала себя на рынке как надежная организация, которая способна качественно оказывать услуги с учетом всех основных потребностей клиентов. За годы работы мы приобрели бесценный опыт, что помогает нам делать хорошие предложения. Одним из важнейших критериев качества является удовлетворенность наших заказчиков, мы ценим доверие каждого клиента.

block scripts
    script(src="js/main.js")