section.main-banner
    .container
        .main-banner__slider.splide
            .splide__track
                ul.splide__list
                    li.splide__slide.main-banner__slide
                        .main-banner__text
                            .section-h1.main-banner__title Аренда инструмента, стройоборудования и расходников
                            .main-banner__caption Подберем инструмент под Ваши нужды и сроки. Скидка на первый заказ 10%
                            .main-banner__more
                                a(href="#").btn.btn_secondary Подробнее
                        .main-banner__image
                            picture
                                source(srcset="img/home/banner.webp" type="image/webp")
                                img(src="img/home/banner.png")
                    li.splide__slide.main-banner__slide
                        .main-banner__text
                            .section-h1.main-banner__title Аренда инструмента, стройоборудования и расходников
                            .main-banner__caption Подберем инструмент под Ваши нужды и сроки. Скидка на первый заказ 10%
                            .main-banner__more
                                a(href="#").btn.btn_secondary Подробнее
                        .main-banner__image
                            picture
                                source(srcset="img/home/banner.webp" type="image/webp")
                                img(src="img/home/banner.png")
            .splide__arrows.main-banner__arrows
                button.splide__arrow.splide__arrow--prev
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 25L1 13L13 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                button.splide__arrow.splide__arrow--next
                    <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 25L13 13L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

