.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1001;
  padding: 20px;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(30px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
  overflow-y: auto;
  overscroll-behavior-y: contain;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__wrapper {
    max-width: 944px;
    position: relative;
    width: 100%;
    background: #fff;
    align-items: flex-start;
    margin: auto;
    padding: 48px 68px;
    border: 2px solid #E6E6E6;

  }

  &__close {
    position: absolute;
    top: -2px;
    right: -56px;
    width: 56px;
    height: 56px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E6E6E6;

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  &__content{
    .section-h2{
      margin-bottom: 48px;
    }
  }

  .form{
    &__caption{
      font-weight: 700;
      margin-bottom: 24px;
    }

    &__fields{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 24px;
    }

    &__field{
      width: calc(100% / 2 - 12px);
      margin-bottom: 24px;

      &.fullwidth{
        width: 100%;
      }

    }

    &__submit{
      margin-bottom: 0;
    }

    &__footer{
      padding-top: 48px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div{
        width: calc(100% / 2 - 12px);
      }

      &::before{
        position: absolute;
        top: 0;
        left: -68px;
        right: -68px;
        content: "";
        height: 2px;
        background: #e6e6e6;

      }
    }
  }

  @media screen and (max-width: 1152px){

    &__wrapper{
      padding: 48px;
    }

    &__close{
      top: 0;
      right: 0;
      border: none;
      width: 48px;
      height: 48px;
    }

    .form__footer{
      &::before{
        left: -48px;
        right: -48px;
      }
    }

  }

  @media screen and (max-width: 768px){

    .form__field {
      width: 100%;
    }

    .form__footer{
      flex-wrap: wrap;
    }

    .form__footer > div{
      width: 100%;
    }

    .form__submit{
      max-width: 392px;
      margin: 0 auto 24px;
    }

  }

  @media screen and (max-width: 480px){

    &__content .section-h2{
      margin-bottom: 32px;
    }

    &__wrapper{
      padding: 48px 24px;
    }

    .form__fields{
      padding-bottom: 0;
    }

    .form__footer{
      padding-top: 24px;

      &::before{
        left: -24px;
        right: -24px;
      }

    }

  }


}

.popup.popup-order{

  .form__fields{
    width: 100%;
  }

  .form__section.equipment{
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 24px;
    &::after{
      position: absolute;
      bottom: 0;
      left: -68px;
      right: -68px;
      content: "";
      height: 2px;
      background: #e6e6e6;

      @media screen and (max-width: 1152px) {
        left: -48px;
        right: -48px;
      }

      @media screen and (max-width: 480px) {
        left: -24px;
        right: -24px;
      }

    }
  }

  .form__field{
    display: flex;
    flex-direction: column;

    &.equipment-name{
      width: calc(50% - 12px);

      @media screen and (max-width: 768px) {
        width: calc(100%);
      }

    }

    &.equipment-count,
    &.equipment-price{
      width: calc(25% - 12px);

      @media screen and (max-width: 768px) {
        width: calc(50% - 12px);
      }

      @media screen and (max-width: 576px) {
        width: calc(100%);
        text-align: left;
      }

    }

    &.equipment-count .input{
      margin: auto 0;
    }

    &.equipment-price{
      text-align: right;
    }

    .equipment-name__wrapper{
      display: flex;
      align-items: center;
    }

    .equipment-name__image{
      flex-shrink: 0;
      margin-right: 12px;
    }

    .equipment-price__value{
      font-weight: 700;
      font-size: 28px;
      line-height: 40px / 28px * 100%;
      margin: auto 0;
    }

  }

  .form__field.radios{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .radio{
      padding-right: 24px;
    }

  }



  span.label{
    padding-bottom: 24px;
    margin-bottom: auto;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
  }

}