$symbol: "";

.breadcrumb {
    background-color: transparent;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        &::after {
            content: $symbol;
            display: inline-block;
            position: relative;
            margin: 0 12px;
            width: 4px;
            height: 4px;
            background: #F5890A;
            vertical-align: middle;
        }

        &:last-child{
            pointer-events: none;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
        &_active {
            color: #888888;
        }
    }
}