$textPrimary: #000;
$linkColor: #448aff;
$marker: #F5890A;
$tableHead: #F0F0F0;
$tableBorder: #e6e6e6;

.edit-content {

    h2 {
        margin-bottom: 8px;
    }

    p {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 150%;
        color: $textPrimary;

        @media screen and (min-width: 640px) {
            font-size: 16px;
        }

    }

    a {
        color: $marker;
        font-size: 14px;
        line-height: 150%;

        @media screen and (min-width: 640px) {
            font-size: 16px;
        }

    }

    bold {
        font-weight: bold !important;
    }

    ol {
        list-style: none;
        padding: 8px 0;
        counter-reset: item;

        li {
            padding: 8px 0;
            padding-left: 24px;
            position: relative;
            counter-increment: item;
            font-size: 14px;
            line-height: 150%;
            color: $textPrimary;

            @media screen and (min-width: 640px) {
                font-size: 16px;
            }

            @media screen and (min-width: 768px) {
                padding-left: 40px;
            }

            p {
                margin: 5px 0;
            }
        }

        li::before {
            content: counter(item);
            position: absolute;
            top: 8px;
            left: 0;
            display: block;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            color: $marker;

            @media screen and (min-width: 640px) {
                font-size: 16px;
            }

        }
    }

    ul {
        padding: 8px 0;

        li {
            padding: 8px 0;
            padding-left: 24px;
            position: relative;
            font-size: 14px;
            line-height: 150%;
            color: $textPrimary;

            @media screen and (min-width: 640px) {
                font-size: 16px;
            }


        }

        li::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            display: block;
            width: 12px;
            height: 2px;
            background: $marker;
        }
    }

    .table {
        overflow-x: auto;
        margin: 0 0 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead{
            tr{
                background: $tableHead;
                font-size: 14px;
                line-height: 180%;

                th {
                    padding: 13px 20px;
                    text-align: left;
                    color: #888888;
                }
            }
        }

        tbody{
            tr{
                position: relative;

                &::after{
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    border: 2px solid #F5890A;
                    z-index: 1;
                    transition: all 0.3s ease;
                }

                &:hover::after{
                    opacity: 1;
                }

            }
        }

        tr {
            transition: all 0.25s ease;
            border: 2px solid #e6e6e6;

            th, td {
                padding: 20px;
                font-size: 14px;
                line-height: 150%;
                font-weight: normal;

                @media screen and (min-width: 640px) {
                    font-size: 16px;
                }

            }
        }
    }

    blockquote{
        margin: 0;
        padding: 24px;
        border: 2px solid #F5890A;
        position: relative;

        @media screen and (min-width: 640px) {
            padding-left: 64px + 48px;

            &::before{
                position: absolute;
                top: 24px;
                left: 24px;
            }

        }

        &::before{
            display: block;
            content: "";
            width: 64px;
            height: 64px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64225 60.625C3.32375 60.625 3.01637 60.5033 2.78362 60.2834C2.53387 60.0472 2.39237 59.7188 2.39237 59.375V46.9461C2.39237 46.2996 2.88525 45.7599 3.52912 45.7012C10.5089 45.0662 14.052 40.2118 14.3365 30.8735H6.25C2.80375 30.8735 0 28.0698 0 24.6235V9.625C0 6.17875 2.80375 3.375 6.25 3.375H23.5C26.9463 3.375 29.75 6.17875 29.75 9.625V13.625C29.75 14.3153 29.1904 14.875 28.5 14.875C27.8096 14.875 27.25 14.3153 27.25 13.625V9.625C27.25 7.55725 25.5677 5.875 23.5 5.875H6.25C4.18225 5.875 2.5 7.55725 2.5 9.625V24.6235C2.5 26.6912 4.18225 28.3735 6.25 28.3735H15.6051C16.2955 28.3735 16.8551 28.9333 16.8551 29.6235C16.8551 35.2683 15.7745 39.6951 13.6434 42.7815C11.6343 45.6909 8.69387 47.4604 4.8925 48.0516V58.0311C19.9331 56.6854 27.25 47.0995 27.25 28.769V24.2916C27.25 23.6014 27.8096 23.0416 28.5 23.0416C29.1904 23.0416 29.75 23.6014 29.75 24.2916V28.769C29.75 38.7536 27.5651 46.5064 23.2561 51.8121C18.9014 57.1741 12.326 60.1385 3.7125 60.623C3.68913 60.6244 3.66563 60.625 3.64225 60.625Z' fill='%23F5890A'/%3E%3Cpath d='M57.75 3.375H40.5C37.0538 3.375 34.25 6.17875 34.25 9.625V24.6235C34.25 28.0698 37.0538 30.8735 40.5 30.8735H48.5865C48.302 40.2118 44.7589 45.0662 37.7791 45.7012C37.1354 45.7599 36.6424 46.2996 36.6424 46.9461V59.375C36.6424 59.7188 36.7839 60.0472 37.0336 60.2834C37.2664 60.5034 37.5738 60.625 37.8923 60.625C37.9156 60.625 37.9391 60.6244 37.9625 60.623C46.576 60.1385 53.1514 57.1741 57.5061 51.8121C61.8151 46.5065 64 38.7536 64 28.769V9.625C64 6.17875 61.1963 3.375 57.75 3.375ZM61.5 28.769C61.5 47.0995 54.1831 56.6854 39.1424 58.0311V48.0516C42.9439 47.4604 45.8842 45.6909 47.8932 42.7815C50.0244 39.6953 51.105 35.2684 51.105 29.6235C51.105 28.9333 50.5454 28.3735 49.855 28.3735H40.5C38.4323 28.3735 36.75 26.6912 36.75 24.6235V9.625C36.75 7.55725 38.4323 5.875 40.5 5.875H55.5V15.1292C55.5 15.8195 56.0596 16.3792 56.75 16.3792C57.4404 16.3792 58 15.8195 58 15.1292V5.88425C59.9515 6.0135 61.5 7.64138 61.5 9.625V28.769Z' fill='%23F5890A'/%3E%3Cpath d='M56.75 20.725C56.0596 20.725 55.5 20.1652 55.5 19.475C55.5 18.7847 56.0596 18.2189 56.75 18.2189C57.4404 18.2189 58 18.7724 58 19.4626V19.475C58 20.1652 57.4402 20.725 56.75 20.725Z' fill='%23F5890A'/%3E%3Cpath d='M28.5 20.2344C27.8096 20.2344 27.25 19.6746 27.25 18.9844V18.9583C27.25 18.268 27.8096 17.7083 28.5 17.7083C29.1904 17.7083 29.75 18.268 29.75 18.9583V18.9844C29.75 19.6746 29.1904 20.2344 28.5 20.2344Z' fill='%23F5890A'/%3E%3C/svg%3E%0A");
            margin-bottom: 12px;
        }


    }
}